
<div class="navbar navbar-light nav-list-task">
  <img src="../../assets/images/logo.svg" >
  <button id="add" class="btn add-task" (click)="addTask()"><i class="fas fa-plus"></i> Adicionar Tarefa</button>

</div>
<div class="list-task">
<div id="card-body{{task.id}}"  class="card" [class.alta.h6]="task.prioridade == '1'" [class.media]="task.prioridade == '2'" style="width: 18rem;" *ngFor="let task of taskList; let i = index">
  <div class="card-body">
    <div class="title-task">
      <h5 class="card-title">Tarefa: {{i + 1}}</h5>
      <div class="done-task">
          <h6 class="card-subtitle mb-2 text-muted">Cumprida:</h6>
          <div class="form-group">
            <input [(ngModel)]="task.status" type="checkbox" (click)="alterStatus(task)">
          </div>
      </div>
    </div>

    <h6 class="card-subtitle mb-2 text-muted">Titulo:</h6>
    <div class="form-group">
      <input id="titulo{{task.id}}" class="form-control" [(ngModel)]="task.titulo" type="text">
    </div>
    <h6 class="card-subtitle mb-2 text-muted">Prioridade</h6>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="task.prioridade">
        <option value="1">Alta</option>
        <option value="2">Média</option>
        <option value="3">Baixa</option>
      </select>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">Descrição:</h6>
    <div class="form-group">
      <textarea id="descricao{{task.id}}" class="form-control" [(ngModel)]="task.descricao" rows="3"></textarea>
    </div>
    <button class=" btn add-task card-link" (click)='newTask(task)'*ngIf="!task.id"><i class="fas fa-plus"></i>  Adicionar</button>
    <button class="btn btn-update card-link" (click)='updateTask(task)'*ngIf="task.id && !task.status"><i class="far fa-share-square"></i>Atualizar</button>
    <button class="btn btn-remove card-link" (click)='removeTask(task.id)'> <i class="far fa-trash-alt"></i> Excluir</button>
  </div>
</div>
</div>



